Plugins>NW2A ImagingXAFS, "Load single ORCA image", imagingXAFS.nw2a_orca.Load_SingleOrca
Plugins>NW2A ImagingXAFS, "Load ORCA imagestack", imagingXAFS.nw2a_orca.Load_OrcaStack
Plugins>NW2A ImagingXAFS, "Plot spectrum of selected area/point(s)", imagingXAFS.common.Plot_AreaPoints
Plugins>NW2A ImagingXAFS, "Normalize imagestack", imagingXAFS.common.Normalization_Menu
Plugins>NW2A ImagingXAFS, "Make E0@Color - Dmut@Alpha image", imagingXAFS.common.AlphaImage_Interactive
Plugins>NW2A ImagingXAFS, "Singluar value decomposition", imagingXAFS.common.SVD_Menu
Plugins>NW2A ImagingXAFS, "Make RGB phase map", imagingXAFS.common.RGB_Interactive
Plugins>NW2A ImagingXAFS, "Batch job: NW2A ImagingXAFS", imagingXAFS.nw2a_orca.BatchJob_Orca
Plugins>NW2A ImagingXAFS, "Setup...", imagingXAFS.nw2a_orca.Setup_Orca
Plugins>NW2A ImagingXAFS>tools, "Set energy", imagingXAFS.common.Set_Energy
Plugins>NW2A ImagingXAFS>tools, "Show FileInfo", imagingXAFS.common.Show_FileInfo
Plugins>NW2A ImagingXAFS>tools, "Clip at min/max values...", imagingXAFS.common.Clip_Values
Plugins>NW2A ImagingXAFS>tools, "Measure focus function...", imagingXAFS.common.Measure_FocusFunction
Plugins>NW2A ImagingXAFS>tools, "Complement tile positions of refinement failure...", imagingXAFS.common.Stitching_Complement
Plugins>NW2A ImagingXAFS>tools, "Show stitching grid overlay...", imagingXAFS.common.Stitching_ShowGrid
Plugins>NW2A ImagingXAFS>tools, "Create sequence list for Imaging XAFS Analysis", imagingXAFS.nw2a_orca.Create_SequenceList
Plugins>NW2A ImagingXAFS>tools, "Load Dmut and E0 map of Imaging XAFS Analysis", Load_DmutE0Map
Plugins>NW2A ImagingXAFS>tools, "test", imagingXAFS.common.ImagingXAFSTest
File>Import, "XRM/TXRM/TXM", imagingXAFS.nw2a_ultra.XRM_Reader
Plugins>NW2A UltraXRM, "UltraXRM script monitor", imagingXAFS.nw2a_ultra.Monitor_UltraScript
Plugins>NW2A UltraXRM, "Load single UltraXRM image", imagingXAFS.nw2a_ultra.Load_SingleUltra
Plugins>NW2A UltraXRM, "Load UltraXRM 2D XANES", imagingXAFS.nw2a_ultra.Load_Ultra2DXANES
Plugins>NW2A UltraXRM, "Drift correction", imagingXAFS.nw2a_ultra.UltraDriftCorrection_Menu
Plugins>NW2A UltraXRM, "Plot spectrum of selected area/point(s) ", imagingXAFS.common.Plot_AreaPoints
Plugins>NW2A UltraXRM, "Normalize imagestack ", imagingXAFS.common.Normalization_Menu
Plugins>NW2A UltraXRM, "Make E0@Color - Dmut@Alpha image ", imagingXAFS.common.AlphaImage_Interactive
Plugins>NW2A UltraXRM, "Singluar value decomposition ", imagingXAFS.common.SVD_Menu
Plugins>NW2A UltraXRM, "Make RGB phase map ", imagingXAFS.common.RGB_Interactive
